# Core scraping
scrapy==2.13.3
itemadapter==0.9.0

# MongoDB integration
pymongo==4.10.1

# Data processing
pandas==2.2.2
numpy==1.26.4

# Visualization & EDA
matplotlib==3.9.2
seaborn==0.13.2

# Jupyter (for notebooks)
jupyter==1.1.1
notebook==7.2.1
ipython==8.26.0

# Utils
requests==2.32.3
urllib3==2.2.2
